<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:notice_e] %>
    <p class="notice"><%= flash[:notice_e] %></p>
<% end %>

<div class="show">
  <div class="title">
  	<h4 class="title-box">Title:</h4><p class="text"><%= @book.title %></p>
  </div>
  <div class="body">
  	<h4 class="body-box">Body:</h4><p class="text"><%= @book.body %></p>
  </div>
</div>

<div class="link">
 <%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", books_path %>
</div>